---
import Layout from '../layouts/Layout.astro'
import TailwindCSSIcon from '../components/icons/TailwindCSS.astro';  
import NextJSIcon from '../components/icons/NextJS.astro';
import AzureIcon from '../components/icons/Azure.astro';
import BashIcon from '../components/icons/Bash.astro';
import FlaskIcon from '../components/icons/Flask.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import JavaIcon from '../components/icons/Java.astro';
import JavaScriptIcon from '../components/icons/JavaScript.astro';
import TypeScriptIcon from '../components/icons/TypeScript.astro';
import PythonIcon from '../components/icons/Python.astro';
import ReactIcon from '../components/icons/React.astro';
import MariaDBIcon from '../components/icons/MariaDB.astro';
import MySQLIcon from '../components/icons/MySQL.astro';
import MongoDBIcon from '../components/icons/MongoDB.astro';
import PostgreSQLIcon from '../components/icons/PostgreSQL.astro';
import OpenAIIcon from '../components/icons/OpenAI.astro';
import PHPIcon from '../components/icons/PHP.astro';
import ParcelIcon from '../components/icons/Parcel.astro';
import SQLiteIcon from '../components/icons/SQLite.astro';
import SpringBootIcon from '../components/icons/SpringBoot.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import AstroIcon from '../components/icons/AstroIcon.astro';
import Section from '../components/Section.astro';
import FirstAbout from '../components/FirstAbout.astro';
---

<Layout title="Portfolio de Christian González Acosta" description="Desarrollador Frontend y Backend, con experiencia en administración de BBDD y SSOO">
	<main class="px-4">
		<Section class="py-16 md:py-36">
			<FirstAbout/>
			</slot>
		  </Hero>
		</Section>

		<Section id="experiencia" class="text-center mt-16">
			<h1 class="text-4xl font-bold">Portfolio</h1>
			<p class="text-lg">
				Desarrollador Frontend y Backend, con experiencia en administración de BBDD y SSOO
			</p>
		</Section>

	</main>
		<ul role="list" class="link-card-grid">
			<TailwindCSSIcon/>
			<NextJSIcon/>
			<JavaScriptIcon class="w-10 h-10"/>
			<SpringBootIcon/>
			<LinkedInIcon/>
			<AstroIcon/>
			<PythonIcon class="w-10 h-10"/>
			<TypeScriptIcon/>
			<SQLiteIcon class="w-10 h-10"/>
			<OpenAIIcon/>
			<PHPIcon/>
			<ParcelIcon/>
			<MongoDBIcon/>
			<MySQLIcon/>
			<MariaDBIcon/>
			<OpenAIIcon/>
			<FlaskIcon/>
			<GitHubIcon/>
			<AzureIcon/>
			<BashIcon/>
			<JavaIcon/>
			<ParcelIcon/>
			<PHPIcon/>
			<PostgreSQLIcon/>
			<ReactIcon/>
		</ul>
</Layout>
