---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro';
import FirstAbout from '../components/FirstAbout.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Portfolio de Christian González Acosta" description="Desarrollador Frontend y Backend, con experiencia en administración de BBDD y SSOO">
	<main class="px-4">
		<Section class="py-16 md:py-36">
			<FirstAbout/>
			</slot>
		  </Hero>
		</Section>

		<div class="space-y-24">
			<Section id="experiencia">
			  <h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
			  >
				Experiencia laboral
			  </h2>
			  <Experience />
			</Section>
		
			<Section id="proyectos">
			  <h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
			  >
				Proyectos
			  </h2>
			  <Projects />
			</Section>
		
			<Section id="sobre-mi">
			  <h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white"
			  >
				Sobre mí
			  </h2>
			  <AboutMe />
			</Section>
		  </div>

	</main>
</Layout>
