---
const personalImageAlt = "Christian Gonz치lez Acosta"
import LinkedInIcon from "./icons/LinkedIn.astro"
import MailIcon from "./icons/Mail.astro"
import SocialPill from "./Social.astro"
---

<div class="w-full flex flex-col-reverse md:flex-row justify-between items-center md:items-start">
  <div class="text-left md:mr-16 mt-8 md:mt-0">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Hey, soy Christian Gonz치lez Acosta
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      Soy un desarrollador Frontend y Backend, con experiencia en administraci칩n de BBDD y SSOO
    </p>
    <nav class="flex flex-wrap gap-4 mt-8 justify-start">
      <SocialPill href="mailto:contacto@chrigoac.dev">
        <MailIcon class="size-4" />
        Cont치ctame
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/chrisgoac">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
  <div class="flex-shrink-0">
    <img
      class="rounded-full shadow-lg w-64 h-64"
      src="/christian.webp"
      alt={personalImageAlt}
    />
  </div>
</div>
