---
const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:contacto@chrisgoac.dev",
  },
]
---

<header
  class="fixed top-0 left-0 right-0 z-10 flex items-center justify-center w-full"
>
  <nav
    class="flex w-full px-3 py-2 mx-auto text-sm font-medium text-gray-600 dark:text-gray-200 justify-center shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10"
  >
    {navItems.map((link) => (
      <a
        class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
        aria-label={link.label}
        href={link.url}
      >
        {link.title}
      </a>
    ))}
  </nav>
</header>


